* {
    box-sizing: border-box;
}
  
@font-face {
    font-family: Bebas Neue;
    src: url('./assets/fonts/bebasneue-book-webfont.woff2');
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.wrapper {
    max-width: 1440px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.total-container {
    visibility: hidden;
}