* {
    box-sizing: border-box;
}
  
@font-face {
    font-family: Poppins Regular;
    src: url('https://fonts.google.com/specimen/Poppins');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Poppins Bold;
    src: url('https://fonts.google.com/specimen/Poppins');
    font-style: normal;
    font-weight: 700;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.wrapper {
    max-width: 1440px ;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    overflow: hidden;

    background-color: #D7D7F9;
    background-image: url('assets/images/background.png');
    background-size: contain;
    background-repeat: repeat;
}

.list-dishes, .cards {
    width: 40%;
    background-color: #f7f7ff;
    overflow-y: scroll;
}

.total-container {
    visibility: hidden;
}